html {
    background-image: url("img/tile.webp");
    color: #ffffff;
}

body {
    background-color: #282a36;
	color: #fffaff;
	font-family: nimbus roman, serif;
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #8be9fd;
	width: 89%;
	max-width: 900px;
	text-align: left;
}

.title {
    text-align: left;
    margin-right: 3em;
    margin-bottom: 10px;
}

.top {
    display: flex;
}

.icon-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.icon {
    margin-right: 10px;
}

.headshot {
    display: inline-block;
    border-radius: 100%;
    max-height: 10rem;
    max-width: 10rem;
    border: 2px solid #8be9fd;
    margin-top: 10px;
}

.date {
	text-align: center;
	font-size: 18px;
}

a {
	color: #8be9fd;
}

a:hover {
	color: #3d94ca;
}

img {
	float: center;
	display: block;
	margin: auto;
}

h1 {
	color: #8be9fd; 
	font-size: 55px;
	text-align: center;
	line-height: 90%;
}

h2 {
	color: #8be9fd; 
}

p, li {
	font-size: 16px;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

hr {
	margin: 0px;
}

.icon {
	float: left;
	height: 35px;
	margin-right: 10px;
}

.pane-right {
	float: right;
	width: 49%;
}

.pane-right a {
	text-decoration: none;
}

.pane-left {
	float: left;
	margin: auto;
	width: 49%;
}

.pane-left li {
	margin: 10px 0px 10px 0px;
}

.pane-right li {
	margin-left: 0px;
}

@media only screen and (max-width: 768px) {
    .pane-right {
        width: 100%;
    }
    .pane-left {
        width: 100%;
    }
	.headshot {
		display: none;
	}
	.top {
		display: block
	}
	hr {
		width: 95%;
	}
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.cutter {
	padding: 10px;
	border-radius: 10px;
	background: #25262d;
	border: 1px solid #383a59;
	overflow: hidden;
	font-family: monospace;
    font-size: 14px;
	white-space: nowrap;
	display: inline-block;
	max-width: 80%;
	margin: 0px 0px 0px 0px;
}

.rounded {
	border-radius: 5px;
}

.card-body {
	padding: 20px;
	border: 2px solid #50fa7b;
	background-color: #44475a;
}

iframe {
	float: center;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

#taglist {
	max-width: 300px ;
	margin: auto ;
	text-align: center ;
	display: block ;
}

#taglist li {
	display: inline-block ;
	padding-right: 0.5em ;
	padding-left: 0.5em ;
}

#taglist::before {
	content: "This article is tagged as:";
	display: block;
	font-size: small;
}

#taglist::after {
	content: "Click the links above for related articles.";
	display: block;
	font-size: small;
}

#topic-header {
	margin-top: 0px;
	margin-right: 10px;
}

.topic-cloud {
	display: flex;
	justify-content: center;
	align-items: center;
}

.topic {
	margin-right: 10px;
}

.topic-header {
	margin-right: 10px;
}
